@charset "UTF-8";
/* line 3, ../sass/common.sass */
h1 {
  font-size: 2.4em;
}

/* line 6, ../sass/common.sass */
h2 {
  font-size: 2.13em;
  font-weight: 600;
}

/* line 10, ../sass/common.sass */
.virtical-list {
  flex-flow: column;
}
/* line 13, ../sass/common.sass */
.virtical-list li {
  display: block;
}

/* line 16, ../sass/common.sass */
.align-right {
  text-align: right;
}

/* line 19, ../sass/common.sass */
.align-left {
  text-align: left;
}

/* line 22, ../sass/common.sass */
.slider-holder {
  margin: auto;
  width: 314px;
}

/* line 26, ../sass/common.sass */
.rzslider {
  margin: 0;
}
/* line 29, ../sass/common.sass */
.rzslider .rz-ticks {
  top: 16px;
}
/* line 31, ../sass/common.sass */
.rzslider .rz-ticks .rz-tick {
  width: 3px;
  height: 4px;
  background-color: #e6e6e6;
}
/* line 36, ../sass/common.sass */
.rzslider .rz-bar {
  height: 10px;
  border-radius: 10px;
}
/* line 40, ../sass/common.sass */
.rzslider .rz-selection {
  background-color: #5c6bbf;
  border-radius: 10px;
}
/* line 44, ../sass/common.sass */
.rzslider .rz-pointer {
  top: -9px;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffc929;
}
/* line 52, ../sass/common.sass */
.rzslider .rz-pointer.rz-active::after {
  background: transparent;
}
/* line 56, ../sass/common.sass */
.rzslider .rz-pointer:hover::after, .rzslider .rz-pointer:active::after {
  background: transparent;
}
/* line 59, ../sass/common.sass */
.rzslider .rz-pointer::after {
  color: white;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  background: transparent;
  top: 3px !important;
  left: 6px !important;
}
