@font-face {
  font-family: 'Noto Sans Bengali';
  src: url('../webfonts/Noto Sans Bengali.eot');
  src: url('../webfonts/Noto Sans Bengali.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/Noto Sans Bengali.woff2') format('woff2'),
       url('../webfonts/NotoSansBengali.ttf') format('truetype'),
       url('../webfonts/NotoSansBengali.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Bengali';
  src: url('../webfonts/NotoSansBengali-SemiBold.eot');
  src: url('../webfonts/NotoSansBengali-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/NotoSansBengali-SemiBold.ttf') format('truetype'),
       url('../webfonts/NotoSansBengali-SemiBold.woff') format('woff'),
       url('../webfonts/NotoSansBengali-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
