/* line 9, ../sass/style.sass */
body {
  padding: 0;
  font-family: "Noto Sans Bengali";
  font-size: 15px;
  overflow-x: hidden;
}
/* line 15, ../sass/style.sass */
body .navbar {
  background-color: white !important;
}
/* line 18, ../sass/style.sass */
body .navbar .lang-selector {
  margin-left: 30px;
}
/* line 21, ../sass/style.sass */
body .navbar .dropdown-divider {
  width: 1px;
  height: 62px;
  position: absolute;
  top: -10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 30, ../sass/style.sass */
body .navbar .navbar-brand img {
  height: 34px;
}
/* line 33, ../sass/style.sass */
body .navbar .fa-globe {
  color: white;
  background: #3fb5b4;
  border-radius: 6px;
  padding: 1px;
}
/* line 39, ../sass/style.sass */
body .navbar .nav-link {
  margin-right: 20px;
}
/* line 42, ../sass/style.sass */
body .navbar .nav-link.nav-facebook {
  padding: 4px 10px;
  font-family: "Lato", sans-serif;
  font-size: 0.95em;
  color: white;
  background-color: #4267B2;
  border-radius: 4px;
  line-height: 24px;
}
/* line 51, ../sass/style.sass */
body .navbar .nav-link.nav-facebook .fa-facebook-square {
  margin-right: 5px;
  font-size: 1.2em;
  margin-top: 5px;
}
/* line 56, ../sass/style.sass */
body .navbar .nav-link.nav-facebook:hover, body .navbar .nav-link.nav-facebook:active, body .navbar .nav-link.nav-facebook:focus {
  color: white !important;
}
/* line 59, ../sass/style.sass */
body .navbar .nav-link:hover, body .navbar .nav-link:active, body .navbar .nav-link:focus {
  color: #3fb5b4 !important;
}
/* line 63, ../sass/style.sass */
body .navbar .dropdown-item:hover, body .navbar .dropdown-item:active, body .navbar .dropdown-item:focus {
  color: #3fb5b4 !important;
}
/* line 67, ../sass/style.sass */
body main .hero-slider {
  height: 530px;
  padding: 136px 0;
  background-image: url(../img/hero-mobile@2x.jpg);
  background-size: cover;
  background-position-x: right;
}
@media (min-width: 768px) {
  /* line 67, ../sass/style.sass */
  body main .hero-slider {
    background-image: url(../img/hero.jpg);
  }
}
@media (min-width: 992px) {
  /* line 67, ../sass/style.sass */
  body main .hero-slider {
    background-image: url(../img/hero@2x.jpg);
  }
}
@media (min-width: 1200px) {
  /* line 67, ../sass/style.sass */
  body main .hero-slider {
    background-image: url(../img/hero@3x.jpg);
  }
}
/* line 81, ../sass/style.sass */
body main .hero-slider p {
  margin: 20px 0;
  font-size: 1.2em;
}
/* line 85, ../sass/style.sass */
body main .hero-slider a img {
  height: 60px !important;
}
/* line 88, ../sass/style.sass */
body main .features {
  padding: 85px 0;
  background-color: #f6f5f9;
}
/* line 92, ../sass/style.sass */
body main .features .entry {
  border-right: solid 1px #e3deed;
}
/* line 95, ../sass/style.sass */
body main .features .entry:last-child {
  border: none;
}
@media screen and (max-width: 767px) {
  /* line 92, ../sass/style.sass */
  body main .features .entry {
    border: none;
  }
  /* line 101, ../sass/style.sass */
  body main .features .entry div, body main .features .entry p {
    padding: 17px;
    margin-top: 0;
    border: solid 2px #dbdee7;
    text-align: left !important;
    background-color: white;
  }
  /* line 108, ../sass/style.sass */
  body main .features .entry div {
    padding-bottom: 0;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
  }
  /* line 113, ../sass/style.sass */
  body main .features .entry div img {
    height: 40px;
  }
  /* line 116, ../sass/style.sass */
  body main .features .entry p {
    padding-top: 12px;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    font-size: 1.1em;
    font-weight: normal;
  }
  /* line 123, ../sass/style.sass */
  body main .features .entry p.mod {
    padding-right: 30px;
  }
}
/* line 126, ../sass/style.sass */
body main .features h2 {
  margin-bottom: 57px;
}
@media screen and (max-width: 767px) {
  /* line 126, ../sass/style.sass */
  body main .features h2 {
    font-size: 1.2em;
    text-align: left !important;
  }
}
/* line 133, ../sass/style.sass */
body main .features p {
  margin-top: 25px;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 138, ../sass/style.sass */
body main .recommendations {
  padding: 85px 0;
}
/* line 141, ../sass/style.sass */
body main .recommendations h2 {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  /* line 141, ../sass/style.sass */
  body main .recommendations h2 {
    font-size: 1.2em;
    text-align: left !important;
  }
}
/* line 149, ../sass/style.sass */
body main .recommendations .image-holder img {
  width: 100%;
}
/* line 152, ../sass/style.sass */
body main .recommendations .text-holder {
  padding: 20px;
  color: white;
  background-color: #7762af;
}
/* line 157, ../sass/style.sass */
body main .recommendations .text-holder .tag {
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.07em;
  color: #ffc929;
}
/* line 164, ../sass/style.sass */
body main .recommendations .text-holder p {
  font-size: 1.2em;
}
/* line 168, ../sass/style.sass */
body main .loan-amount h2 {
  margin: 30px 0;
}
@media screen and (max-width: 767px) {
  /* line 168, ../sass/style.sass */
  body main .loan-amount h2 {
    font-size: 1.2em;
    text-align: left !important;
  }
}
/* line 175, ../sass/style.sass */
body main .loan-amount .calulator-box {
  padding: 32px;
  border: 1px solid #dbdee7;
  border-radius: 20px;
}
/* line 180, ../sass/style.sass */
body main .loan-amount .calulator-box hr {
  margin: 29px 0;
}
/* line 183, ../sass/style.sass */
body main .loan-amount .calulator-box h3 {
  line-height: 60px;
}
@media screen and (max-width: 767px) {
  /* line 183, ../sass/style.sass */
  body main .loan-amount .calulator-box h3 {
    font-size: 1.2em;
  }
}
/* line 189, ../sass/style.sass */
body main .loan-amount .calulator-box .select2-selection--single {
  height: 60px;
}
/* line 192, ../sass/style.sass */
body main .loan-amount .calulator-box .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
  font-size: 1.467em;
}
/* line 196, ../sass/style.sass */
body main .loan-amount .calulator-box .select2-selection--single .select2-selection__arrow {
  right: 10px;
  height: 60px;
}
@media screen and (max-width: 767px) {
  /* line 202, ../sass/style.sass */
  body main .loan-amount .calulator-box .cal .mod {
    text-align: left !important;
  }
}
/* line 205, ../sass/style.sass */
body main .loan-amount .calulator-box .cal p {
  margin: 0;
  font-size: 1.2em;
}
@media screen and (max-width: 767px) {
  /* line 205, ../sass/style.sass */
  body main .loan-amount .calulator-box .cal p {
    display: inline;
    width: 50%;
    font-size: 1.2em;
    text-align: left !important;
  }
}
/* line 215, ../sass/style.sass */
body main .loan-amount .calulator-box .cal h3 {
  margin-top: 8px;
  line-height: -1;
  font-size: 3.067em;
}
@media screen and (max-width: 767px) {
  /* line 215, ../sass/style.sass */
  body main .loan-amount .calulator-box .cal h3 {
    display: inline;
    width: 50%;
    font-size: 1.2em;
    text-align: right !important;
  }
}
/* line 226, ../sass/style.sass */
body main .loan-amount .calulator-box .summary {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #F1EFF7;
}
@media screen and (max-width: 767px) {
  /* line 226, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary {
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  /* line 238, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary .l-mod, body main .loan-amount .calulator-box .summary .r-mod {
    margin: 0;
    background-color: #F1EFF7;
  }
  /* line 243, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary .n-mod p {
    font-size: 0.867em;
  }
  /* line 245, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary .n-mod h4 {
    font-size: 1.2em;
  }
}
/* line 249, ../sass/style.sass */
body main .loan-amount .calulator-box .summary .row div {
  padding: 18px 0;
}
/* line 252, ../sass/style.sass */
body main .loan-amount .calulator-box .summary .total {
  border-radius: 0 10px 10px 0;
  background-color: #ffc929;
}
@media screen and (max-width: 767px) {
  /* line 252, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary .total {
    border-radius: 0;
    text-align: left !important;
  }
  /* line 260, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary .total p, body main .loan-amount .calulator-box .summary .total h4 {
    font-size: 1.2em;
    margin-left: 15px;
    display: inline;
  }
  /* line 265, ../sass/style.sass */
  body main .loan-amount .calulator-box .summary .total h4 {
    margin-left: 0;
    margin-right: 15px;
    float: right;
  }
}
/* line 270, ../sass/style.sass */
body main .loan-amount .calulator-box .summary p {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 274, ../sass/style.sass */
body main .loan-amount .calulator-box .summary h4 {
  margin-bottom: 0;
  opacity: 0.75;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
/* line 285, ../sass/style.sass */
body main .loan-amount .calulator-box .info {
  margin-top: 30px;
}
/* line 288, ../sass/style.sass */
body main .loan-amount .calulator-box .info .btn {
  width: 190px;
  height: 34px;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  line-height: 4px;
  border-radius: 4px;
  background-color: #7762af;
}
@media screen and (max-width: 767px) {
  /* line 288, ../sass/style.sass */
  body main .loan-amount .calulator-box .info .btn {
    margin-top: 12px;
  }
}
/* line 300, ../sass/style.sass */
body main .loan-amount .calulator-box .info span {
  font-size: 1.2em;
}
@media screen and (max-width: 767px) {
  /* line 300, ../sass/style.sass */
  body main .loan-amount .calulator-box .info span {
    font-size: 0.867em;
  }
  /* line 306, ../sass/style.sass */
  body main .loan-amount .calulator-box .info span svg {
    display: none;
  }
}
/* line 309, ../sass/style.sass */
body main .loan-amount .calulator-box .info span svg {
  margin-right: 5px;
  font-size: 1.2em;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #000000 0%, #000000 50%, #ffffff 51%, #ffffff 100%);
}
/* line 316, ../sass/style.sass */
body main .loan-amount .calulator-box .info span svg path {
  fill: #ffc800;
  background-color: black;
}
/* line 320, ../sass/style.sass */
body main .mobile-steps {
  padding: 50px 0;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 52%, #ffc929 52%, #ffc929 100%);
}
/* line 324, ../sass/style.sass */
body main .mobile-steps h2 {
  margin: 40px 0;
}
@media screen and (max-width: 767px) {
  /* line 324, ../sass/style.sass */
  body main .mobile-steps h2 {
    font-size: 1.2em;
  }
}
/* line 330, ../sass/style.sass */
body main .mobile-steps h6 {
  width: 55px;
  height: 55px;
  border: 3px solid #ffc929;
  border-radius: 50%;
  font-size: 2.133em;
  line-height: 55px;
  text-align: center;
  background-color: white;
}
/* line 340, ../sass/style.sass */
body main .download {
  margin-bottom: 40px;
  padding: 30px 0;
  background-color: #7762af;
  color: white;
}
@media screen and (max-width: 767px) {
  /* line 340, ../sass/style.sass */
  body main .download {
    display: none;
  }
}
/* line 349, ../sass/style.sass */
body main .download h3 {
  margin: 0;
  opacity: 0.85;
  font-size: 1.867em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
}
/* line 359, ../sass/style.sass */
body main .download .btn {
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  width: 270px;
  height: 59px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffc929;
  max-width: 100%;
}
/* line 378, ../sass/style.sass */
body main .questions {
  margin-bottom: 80px;
}
/* line 381, ../sass/style.sass */
body main .questions h2 {
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  /* line 381, ../sass/style.sass */
  body main .questions h2 {
    font-size: 1.2em;
  }
}
/* line 387, ../sass/style.sass */
body main .questions .survey-box {
  border-radius: 20px;
  border: solid 2px #dbdee7;
}
/* line 391, ../sass/style.sass */
body main .questions .survey-box .box-head {
  padding: 35px 0;
  border-radius: 20px 20px 0 0;
  background-color: #f5f3f9;
}
/* line 396, ../sass/style.sass */
body main .questions .survey-box .box-head .progress-bar {
  background-color: #7762af;
}
/* line 400, ../sass/style.sass */
body main .questions .survey-box .box-head .row div {
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
}
/* line 405, ../sass/style.sass */
body main .questions .survey-box .box-body {
  padding: 35px 0;
}
/* line 408, ../sass/style.sass */
body main .questions .survey-box .box-body p {
  font-size: 1.467em;
  line-height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  /* line 408, ../sass/style.sass */
  body main .questions .survey-box .box-body p {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  /* line 405, ../sass/style.sass */
  body main .questions .survey-box .box-body {
    text-align: center;
  }
}
/* line 420, ../sass/style.sass */
body main .questions .survey-box .box-body .btn-primary {
  width: 125px;
  height: 50px;
  margin-left: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #4abc80;
  text-transform: uppercase;
}
/* line 430, ../sass/style.sass */
body main .questions .survey-box .box-body .btn-secondary {
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #ea467b;
  text-transform: uppercase;
}
/* line 439, ../sass/style.sass */
body main .sponsors {
  margin-bottom: 80px;
  padding: 80px 0;
  background-color: #f5f3f9;
}
/* line 444, ../sass/style.sass */
body main .sponsors h3 {
  opacity: 0.75;
  font-size: 1.867em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
}
/* line 452, ../sass/style.sass */
body main .sponsors p {
  opacity: 0.56;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}
/* line 460, ../sass/style.sass */
body main .sponsors ul {
  margin-top: 20px;
  list-style: none;
}
/* line 464, ../sass/style.sass */
body main .sponsors ul li {
  display: inline-block;
  margin-right: 68px;
}
/* line 468, ../sass/style.sass */
body main .sponsors ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  /* line 460, ../sass/style.sass */
  body main .sponsors ul {
    padding: 0;
  }
  /* line 474, ../sass/style.sass */
  body main .sponsors ul li {
    padding: 0;
    display: inline;
    width: 40%;
  }
  /* line 479, ../sass/style.sass */
  body main .sponsors ul li:first-child {
    float: left;
  }
  /* line 482, ../sass/style.sass */
  body main .sponsors ul li img {
    width: 130px;
  }
}
/* line 485, ../sass/style.sass */
body main .faq {
  margin-bottom: 80px;
}
/* line 488, ../sass/style.sass */
body main .faq h3 {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  /* line 488, ../sass/style.sass */
  body main .faq h3 {
    font-size: 1.2em;
    text-align: left !important;
  }
}
/* line 495, ../sass/style.sass */
body main .faq .collapable {
  margin-bottom: 20px;
}
/* line 498, ../sass/style.sass */
body main .faq .collapable .head {
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: #f5f3f9;
  cursor: pointer;
}
/* line 505, ../sass/style.sass */
body main .faq .collapable .head .icon-up, body main .faq .collapable .head .icon-down {
  position: absolute;
  right: 10px;
  top: -5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  background-color: #ffc929;
}
@media screen and (max-width: 767px) {
  /* line 505, ../sass/style.sass */
  body main .faq .collapable .head .icon-up, body main .faq .collapable .head .icon-down {
    top: -30px;
  }
}
/* line 519, ../sass/style.sass */
body main .faq .collapable .head .icon-up {
  display: none;
}
/* line 522, ../sass/style.sass */
body main .faq .collapable .body {
  display: none;
}
/* line 526, ../sass/style.sass */
body main .faq .collapable.expanded .icon-up {
  display: inline-block;
}
/* line 529, ../sass/style.sass */
body main .faq .collapable.expanded .icon-down {
  display: none;
}
/* line 532, ../sass/style.sass */
body main .faq .collapable.expanded .body {
  display: block;
  padding: 20px 0;
  padding-left: 20px;
}
/* line 537, ../sass/style.sass */
body main .faq .collapable.expanded .body a {
  color: #7762af;
}
/* line 540, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable {
  position: relative;
  list-style: none;
  padding: 0;
  padding-left: 40px;
}
/* line 546, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable li::before {
  position: absolute;
  left: 0;
  content: "+";
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 2em;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  background-color: #ffc929;
}
/* line 561, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .expanded::before {
  content: "-";
}
/* line 564, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .expanded .main-body {
  display: block;
}
/* line 567, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .expanded .header {
  padding-bottom: 10px;
}
/* line 570, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .header {
  padding-bottom: 30px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 35px;
  cursor: pointer;
}
/* line 577, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .main-body {
  display: none;
}
/* line 580, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .main-body p {
  padding-top: 10px;
  padding-bottom: 0;
  opacity: 0.56;
}
/* line 585, ../sass/style.sass */
body footer {
  padding-top: 93px;
  background-color: #f5f3f9;
}
/* line 589, ../sass/style.sass */
body footer .links {
  margin-bottom: 55px;
}
/* line 592, ../sass/style.sass */
body footer .links h5 {
  margin-bottom: 28px;
}
/* line 597, ../sass/style.sass */
body footer .links li .nav svg {
  margin-right: 10px;
  color: #3fb5b4;
}
/* line 602, ../sass/style.sass */
body footer .links .virtical-list li {
  margin-bottom: 12px;
}
/* line 605, ../sass/style.sass */
body footer .links .virtical-list li a {
  display: block;
  color: black;
  opacity: 0.7;
}
/* line 610, ../sass/style.sass */
body footer .links .virtical-list li a:focus, body footer .links .virtical-list li a:active, body footer .links .virtical-list li a:hover {
  opacity: 1;
}
/* line 613, ../sass/style.sass */
body footer .links .virtical-list li a img {
  margin-right: 12px;
}
/* line 616, ../sass/style.sass */
body footer .links .virtical-list li .social-link {
  opacity: 1;
}
/* line 619, ../sass/style.sass */
body footer .links .virtical-list li .social-link .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 36px;
  background-color: #4267B2;
  opacity: 1;
}
/* line 632, ../sass/style.sass */
body footer .links .virtical-list li .social-link .icon.youtube {
  background-color: #c4302b;
}
/* line 635, ../sass/style.sass */
body footer .links .virtical-list li .social-link .icon.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
/* line 639, ../sass/style.sass */
body footer .rock-bottom {
  margin: 0;
  padding: 30px 0;
  border-top: solid 1px #e0e0e0;
  font-family: "Lato", sans-serif;
  font-size: 0.87em;
  font-weight: normal;
  opacity: 0.35;
}
/* line 648, ../sass/style.sass */
body footer .mobile-social-list {
  text-align: center;
  list-style: none;
  padding: 0;
}
/* line 653, ../sass/style.sass */
body footer .mobile-social-list li {
  display: inline-block;
  margin-bottom: 12px;
  cursor: pointer;
}
/* line 659, ../sass/style.sass */
body footer .mobile-social-list li:last-child .icon {
  margin-right: 0;
}
/* line 662, ../sass/style.sass */
body footer .mobile-social-list li a {
  display: block;
  color: black;
  opacity: 0.7;
}
/* line 667, ../sass/style.sass */
body footer .mobile-social-list li a:focus, body footer .mobile-social-list li a:active, body footer .mobile-social-list li a:hover {
  opacity: 1;
}
/* line 670, ../sass/style.sass */
body footer .mobile-social-list li a img {
  margin-right: 12px;
}
/* line 673, ../sass/style.sass */
body footer .mobile-social-list li .social-link {
  opacity: 1;
}
/* line 676, ../sass/style.sass */
body footer .mobile-social-list li .social-link .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 36px;
  background-color: #4267B2;
  opacity: 1;
}
/* line 689, ../sass/style.sass */
body footer .mobile-social-list li .social-link .icon.youtube {
  background-color: #c4302b;
}
/* line 692, ../sass/style.sass */
body footer .mobile-social-list li .social-link .icon.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
