/* line 1, ../sass/style.sass */
body {
  padding: 0;
  font-family: "Noto Sans Bengali";
  font-size: 15px;
  overflow-x: hidden;
}
/* line 7, ../sass/style.sass */
body .navbar {
  background-color: white !important;
}
/* line 10, ../sass/style.sass */
body .navbar .lang-selector {
  margin-left: 30px;
}
/* line 13, ../sass/style.sass */
body .navbar .dropdown-divider {
  width: 1px;
  height: 62px;
  position: absolute;
  top: -10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 22, ../sass/style.sass */
body .navbar .navbar-brand img {
  height: 34px;
}
/* line 25, ../sass/style.sass */
body .navbar .fa-globe {
  color: white;
  background: #3fb5b4;
  border-radius: 6px;
  padding: 1px;
}
/* line 31, ../sass/style.sass */
body .navbar .nav-link {
  margin-right: 20px;
}
/* line 34, ../sass/style.sass */
body .navbar .nav-link.nav-facebook {
  padding: 4px 10px;
  font-family: "Lato", sans-serif;
  font-size: 0.95em;
  color: white;
  background-color: #4267B2;
  border-radius: 4px;
  line-height: 24px;
}
/* line 43, ../sass/style.sass */
body .navbar .nav-link.nav-facebook .fa-facebook-square {
  margin-right: 5px;
  font-size: 1.2em;
  margin-top: 5px;
}
/* line 48, ../sass/style.sass */
body .navbar .nav-link.nav-facebook:hover, body .navbar .nav-link.nav-facebook:active, body .navbar .nav-link.nav-facebook:focus {
  color: white !important;
}
/* line 51, ../sass/style.sass */
body .navbar .nav-link:hover, body .navbar .nav-link:active, body .navbar .nav-link:focus {
  color: #3fb5b4 !important;
}
/* line 55, ../sass/style.sass */
body .navbar .dropdown-item:hover, body .navbar .dropdown-item:active, body .navbar .dropdown-item:focus {
  color: #3fb5b4 !important;
}
/* line 59, ../sass/style.sass */
body main .hero-slider {
  height: 530px;
  padding: 136px 0;
  background-image: url(../img/hero-mobile@2x.jpg);
  background-size: cover;
  background-position-x: right;
}
@media (min-width: 768px) {
  /* line 59, ../sass/style.sass */
  body main .hero-slider {
    background-image: url(../img/hero.jpg);
  }
}
@media (min-width: 992px) {
  /* line 59, ../sass/style.sass */
  body main .hero-slider {
    background-image: url(../img/hero@2x.jpg);
  }
}
@media (min-width: 1200px) {
  /* line 59, ../sass/style.sass */
  body main .hero-slider {
    background-image: url(../img/hero@3x.jpg);
  }
}
/* line 73, ../sass/style.sass */
body main .hero-slider p {
  margin: 20px 0;
  font-size: 1.2em;
}
/* line 77, ../sass/style.sass */
body main .hero-slider a img {
  height: 60px !important;
}
/* line 80, ../sass/style.sass */
body main .features {
  padding: 85px 0;
  background-color: #f6f5f9;
}
/* line 84, ../sass/style.sass */
body main .features .entry {
  border-right: solid 1px #e3deed;
}
/* line 87, ../sass/style.sass */
body main .features .entry:last-child {
  border: none;
}
/* line 90, ../sass/style.sass */
body main .features h2 {
  margin-bottom: 57px;
}
/* line 93, ../sass/style.sass */
body main .features p {
  margin-top: 25px;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 98, ../sass/style.sass */
body main .recommendations {
  padding: 85px 0;
}
/* line 101, ../sass/style.sass */
body main .recommendations h2 {
  margin-bottom: 40px;
}
/* line 105, ../sass/style.sass */
body main .recommendations .image-holder img {
  width: 100%;
}
/* line 108, ../sass/style.sass */
body main .recommendations .text-holder {
  padding: 20px;
  color: white;
  background-color: #7762af;
}
/* line 113, ../sass/style.sass */
body main .recommendations .text-holder .tag {
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.07em;
  color: #ffc929;
}
/* line 120, ../sass/style.sass */
body main .recommendations .text-holder p {
  font-size: 1.2em;
}
/* line 124, ../sass/style.sass */
body main .loan-amount h2 {
  margin: 30px 0;
}
/* line 127, ../sass/style.sass */
body main .loan-amount .calulator-box {
  padding: 32px;
  border: 1px solid #dbdee7;
  border-radius: 20px;
}
/* line 132, ../sass/style.sass */
body main .loan-amount .calulator-box hr {
  margin: 29px 0;
}
/* line 135, ../sass/style.sass */
body main .loan-amount .calulator-box h3 {
  line-height: 60px;
}
/* line 138, ../sass/style.sass */
body main .loan-amount .calulator-box .select2-selection--single {
  height: 60px;
}
/* line 141, ../sass/style.sass */
body main .loan-amount .calulator-box .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
  font-size: 1.467em;
}
/* line 145, ../sass/style.sass */
body main .loan-amount .calulator-box .select2-selection--single .select2-selection__arrow {
  right: 10px;
  height: 60px;
}
/* line 150, ../sass/style.sass */
body main .loan-amount .calulator-box .cal p {
  margin: 0;
  font-size: 1.2em;
}
/* line 154, ../sass/style.sass */
body main .loan-amount .calulator-box .cal h3 {
  margin-top: 8px;
  line-height: -1;
  font-size: 3.067em;
}
/* line 159, ../sass/style.sass */
body main .loan-amount .calulator-box .summary {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(119, 98, 175, 0.1);
}
/* line 167, ../sass/style.sass */
body main .loan-amount .calulator-box .summary .row div {
  padding: 18px 0;
}
/* line 170, ../sass/style.sass */
body main .loan-amount .calulator-box .summary .total {
  border-radius: 0 10px 10px 0;
  background-color: #ffc929;
}
/* line 174, ../sass/style.sass */
body main .loan-amount .calulator-box .summary p {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 178, ../sass/style.sass */
body main .loan-amount .calulator-box .summary h4 {
  margin-bottom: 0;
  opacity: 0.75;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
/* line 189, ../sass/style.sass */
body main .loan-amount .calulator-box .info {
  margin-top: 30px;
}
/* line 192, ../sass/style.sass */
body main .loan-amount .calulator-box .info .btn {
  width: 190px;
  height: 34px;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  line-height: 4px;
  border-radius: 4px;
  background-color: #7762af;
}
/* line 201, ../sass/style.sass */
body main .loan-amount .calulator-box .info span {
  font-size: 1.2em;
}
/* line 204, ../sass/style.sass */
body main .loan-amount .calulator-box .info span svg {
  margin-right: 5px;
  font-size: 1.2em;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #000000 0%, #000000 50%, #ffffff 51%, #ffffff 100%);
}
/* line 211, ../sass/style.sass */
body main .loan-amount .calulator-box .info span svg path {
  fill: #ffc800;
  background-color: black;
}
/* line 215, ../sass/style.sass */
body main .mobile-steps {
  padding: 50px 0;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 52%, #ffc929 52%, #ffc929 100%);
}
/* line 219, ../sass/style.sass */
body main .mobile-steps h2 {
  margin: 40px 0;
}
/* line 222, ../sass/style.sass */
body main .mobile-steps h6 {
  width: 55px;
  height: 55px;
  border: 3px solid #ffc929;
  border-radius: 50%;
  font-size: 2.133em;
  line-height: 55px;
  text-align: center;
  background-color: white;
}
/* line 232, ../sass/style.sass */
body main .download {
  margin-bottom: 40px;
  padding: 30px 0;
  background-color: #7762af;
  color: white;
}
/* line 238, ../sass/style.sass */
body main .download h3 {
  margin: 0;
  opacity: 0.85;
  font-size: 1.867em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
}
/* line 248, ../sass/style.sass */
body main .download .btn {
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  width: 270px;
  height: 59px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffc929;
}
/* line 265, ../sass/style.sass */
body main .questions {
  margin-bottom: 80px;
}
/* line 268, ../sass/style.sass */
body main .questions h2 {
  padding: 40px 0;
}
/* line 271, ../sass/style.sass */
body main .questions .survey-box {
  border-radius: 20px;
  border: solid 2px #dbdee7;
}
/* line 275, ../sass/style.sass */
body main .questions .survey-box .box-head {
  padding: 35px 0;
  border-radius: 20px 20px 0 0;
  background-color: #f5f3f9;
}
/* line 280, ../sass/style.sass */
body main .questions .survey-box .box-head .progress-bar {
  background-color: #7762af;
}
/* line 284, ../sass/style.sass */
body main .questions .survey-box .box-head .row div {
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
}
/* line 289, ../sass/style.sass */
body main .questions .survey-box .box-body {
  padding: 35px 0;
}
/* line 292, ../sass/style.sass */
body main .questions .survey-box .box-body p {
  font-size: 1.467em;
  line-height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 298, ../sass/style.sass */
body main .questions .survey-box .box-body .btn-primary {
  width: 125px;
  height: 50px;
  margin-left: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #4abc80;
  text-transform: uppercase;
}
/* line 308, ../sass/style.sass */
body main .questions .survey-box .box-body .btn-secondary {
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #ea467b;
  text-transform: uppercase;
}
/* line 317, ../sass/style.sass */
body main .sponsors {
  margin-bottom: 80px;
  padding: 80px 0;
  background-color: #f5f3f9;
}
/* line 322, ../sass/style.sass */
body main .sponsors h3 {
  opacity: 0.75;
  font-size: 1.867em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
}
/* line 330, ../sass/style.sass */
body main .sponsors p {
  opacity: 0.56;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}
/* line 338, ../sass/style.sass */
body main .sponsors ul {
  margin-top: 20px;
  list-style: none;
}
/* line 342, ../sass/style.sass */
body main .sponsors ul li {
  display: inline-block;
  margin-right: 68px;
}
/* line 346, ../sass/style.sass */
body main .sponsors ul li:last-child {
  margin-right: 0;
}
/* line 349, ../sass/style.sass */
body main .faq {
  margin-bottom: 80px;
}
/* line 352, ../sass/style.sass */
body main .faq h3 {
  margin-bottom: 30px;
}
/* line 355, ../sass/style.sass */
body main .faq .collapable {
  margin-bottom: 20px;
}
/* line 358, ../sass/style.sass */
body main .faq .collapable .head {
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: #f5f3f9;
}
/* line 364, ../sass/style.sass */
body main .faq .collapable .head .icon-up, body main .faq .collapable .head .icon-down {
  position: absolute;
  right: 10px;
  top: -5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  background-color: #ffc929;
}
/* line 375, ../sass/style.sass */
body main .faq .collapable .head .icon-up {
  display: none;
}
/* line 378, ../sass/style.sass */
body main .faq .collapable .body {
  display: none;
}
/* line 382, ../sass/style.sass */
body main .faq .collapable.expanded .icon-up {
  display: inline-block;
}
/* line 385, ../sass/style.sass */
body main .faq .collapable.expanded .icon-down {
  display: none;
}
/* line 388, ../sass/style.sass */
body main .faq .collapable.expanded .body {
  display: block;
  padding: 20px 0;
  padding-left: 20px;
}
/* line 393, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable {
  position: relative;
  list-style: none;
  padding: 0;
  padding-left: 40px;
}
/* line 399, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable li::before {
  position: absolute;
  left: 0;
  content: "+";
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 2em;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  background-color: #ffc929;
}
/* line 414, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .expanded::before {
  content: "-";
}
/* line 417, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .expanded .main-body {
  display: block;
}
/* line 420, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .expanded .header {
  padding-bottom: 10px;
}
/* line 423, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .header {
  padding-bottom: 30px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 35px;
}
/* line 429, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .main-body {
  display: none;
}
/* line 432, ../sass/style.sass */
body main .faq .collapable.expanded .body .inner-expandable .main-body p {
  padding-top: 10px;
  padding-bottom: 0;
  opacity: 0.56;
}
/* line 437, ../sass/style.sass */
body footer {
  padding-top: 93px;
  background-color: #f5f3f9;
}
/* line 441, ../sass/style.sass */
body footer .links {
  margin-bottom: 55px;
}
/* line 444, ../sass/style.sass */
body footer .links h5 {
  margin-bottom: 28px;
}
/* line 449, ../sass/style.sass */
body footer .links li .nav svg {
  margin-right: 10px;
  color: #3fb5b4;
}
/* line 454, ../sass/style.sass */
body footer .links .virtical-list li {
  margin-bottom: 12px;
}
/* line 457, ../sass/style.sass */
body footer .links .virtical-list li a {
  display: block;
  color: black;
  opacity: 0.7;
}
/* line 462, ../sass/style.sass */
body footer .links .virtical-list li a:focus, body footer .links .virtical-list li a:active, body footer .links .virtical-list li a:hover {
  opacity: 1;
}
/* line 465, ../sass/style.sass */
body footer .links .virtical-list li a img {
  margin-right: 12px;
}
/* line 468, ../sass/style.sass */
body footer .links .virtical-list li .social-link {
  opacity: 1;
}
/* line 471, ../sass/style.sass */
body footer .links .virtical-list li .social-link .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 36px;
  background-color: #4267B2;
  opacity: 1;
}
/* line 484, ../sass/style.sass */
body footer .links .virtical-list li .social-link .icon.youtube {
  background-color: #c4302b;
}
/* line 487, ../sass/style.sass */
body footer .links .virtical-list li .social-link .icon.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
/* line 491, ../sass/style.sass */
body footer .rock-bottom {
  margin: 0;
  padding: 30px 0;
  border-top: solid 1px #e0e0e0;
  font-family: "Lato", sans-serif;
  font-size: 0.87em;
  font-weight: normal;
  opacity: 0.35;
}
