@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../bitters/bitters";

$base-accent-color : #4E97DB;

body {
  // long text without whitespace link break fix
  word-wrap: break-word;
  // white-space: pre-wrap;
  // font smoothing
  -webkit-font-smoothing: subpixel-antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-text-stroke: .2px;
}

.my-limit {
    width: 100%;
    margin: auto;
}

.second-holder {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 64.063em) {
    .my-limit {
        width: 80%;
        margin: auto;
    }

    .second-holder {
      width: 100%;
      margin: auto;
    }
}

@media only screen and (min-width: 90.063em) {
    .my-limit {
        width: 60%;
        margin: auto;
    }

    .second-holder {
      width: 100%;
      margin: auto;
    }
}

.my-spacer10 {
  height: 50px;
}

.my-spacer5 {
  height: 25px;
}

// header
header.navigation {
  position: fixed;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .menu-wrapper {
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;    
    max-height: $navigation-height;
    padding-left: 1em;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  .navigation-menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($large-screen) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    @include media ($large-screen) {
      float: left;
    }
  }

  ul#navigation-menu {    
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: 2em;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      color: $navigation-color;

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .sign-up {
    @include media ($large-screen) {
      @include position(absolute, 0px 0px 0 0);
      padding-right: 1em;

      a {
        @include transition (all 0.2s ease-in-out);
        background: $navigation-nav-button-background;
        border-radius: $base-border-radius; 
        color: white;
        font-size: .8em;  
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase;

        &:hover {
          background: lighten($navigation-nav-button-background, 10);
        }
      }
    }
  }

  li.navigation-search-bar {
    display: none;

    @include media($large-screen) {
      @include position(absolute, 0px 76px 0 0);
      display: inline-block;
      line-height: 0 !important;
      padding: 13px 30px; // this to get around Firefox/Opera line-height "bug"
    }
  }

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    width: 19em;
    position: relative; 
    display: inline-block;

    input {
      @include box-sizing(border-box);
      display: block;
    }

    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;
      }

      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 10));
        @include position(absolute, 0.3em 0.3em 0.3em 0);
        outline: none;
        padding: 5px 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }
  }
}


// slider
.hero {
    $hero-background: desaturate(darken($base-accent-color, 20), 30);   
    $hero-color: white;

    background: url(https://raw.github.com/Magnus-G/Random/master/lake-transparent.png);
    background-color: $hero-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 4em;

    .hero-logo img {
        height: 3em;
        margin-bottom: 1em;
    }

    .hero-inner {
        @include outer-container;
        @include clearfix;
        padding: 2em;
        padding-top: 8em;
        padding-bottom: 8em;
        margin: auto;
        text-align: center;
        color: $hero-color;

        button {
            @include button(simple, $base-accent-color);
            font-size: $base-font-size;
            outline: none;
        }

        .hero-copy {
            text-align: center;
            letter-spacing: 1px;
            
            h1 {
                font-size: 1.4em;
                margin-bottom: .2em;

                @include media($large-screen) {
                    font-size: 1.8em;
                }
            }

            p {
                margin: auto;
                margin-bottom: 3em; 
                font-weight: 200;

                @include media($large-screen) {
                    font-size: 1.2em;
                    max-width: 40%;
                }
            }
        }
    }
}

// footer
.footer {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

// portfolio
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $base-body-color;
  $grid-item-background: desaturate($base-accent-color, 30); 
  $grid-item-colors: 
    desaturate($base-accent-color, 30), 
    #3581A5, 
    #5FBEBE,
    #98C79A,
    #A7A891, 
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 to 8 { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);
        &:hover {
          background-color: darken($background-from-list, 10);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      margin: auto;
      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }  
    }
  }

  .grid-item-image {
    //background: url(https://raw.github.com/Magnus-G/Random/master/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}


// skills
.bullets {
  $icon-bullet-size: 3.5em;

  overflow: auto;
  margin-bottom: $base-line-height;

  // change ".three-col-bullet" class to this for two bullet layout
  .two-col-bullet {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);  
    } 
  }
  
  .three-col-bullet {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  // change ".three-col-bullet" class to this for four bullet layout
  .four-col-bullet {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
  }

  .bullet-icon {
    float: left;
    background: $base-accent-color;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140);
  }

  .bullet-content {
    margin-left: $icon-bullet-size *1.4;
    margin-bottom: 2em;
  }

  h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;
    border-bottom: 1px solid transparentize($base-font-color, .8);
    display: inline-block;
  }
}

// comments
.comment {
  $comment-gutter: 1.4em;
  $comment-image-padding: .7em;
  $comment-image-width: 4em;
  $comment-color: $base-font-color;
  $comment-background: lighten($base-accent-color, 15);
  $comment-detail-color: transparentize($comment-color, .5);
  $comment-image-vert-alignment: top;

  display: table;
  width: 100%;
  margin-bottom: $base-line-height;
  padding-bottom: 1em;
  border-bottom: 1px solid transparentize($comment-color, .9);

  &.last {
    border-bottom: none;
  }

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      width: $comment-image-width;
      height: auto;
      border-radius: $base-border-radius;
      padding: $comment-image-padding;
      background: $comment-background;
      display: block;
      max-width: none;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }

    p.comment-detail {
      font-style: italic;
      font-size: .9em;
      color: $comment-detail-color;
    }
  }
}

